<section>

  <div class="d-flex justify-content-between">
    <h1>Contenedores</h1>
    <a href="#" routerLink="/kml-Contenedor/index" class="btn btn-primaryt">Atrás</a>
  </div>
  <br>
  <div class="d-flex align-items-center justify-content-between mx-3">
    <div class="ml-2"> <!-- Agrega margen a la izquierda -->
      <app-search (applyFilter)="filter($event)"></app-search>
    </div>
    <app-export  [tableData]="filteredContenedores"></app-export>
    <a [routerLink]="['/kml-Contenedor','index', idKmlContenedor, 'contenedor', 'maps']" class="btn btn-success">Ver todo mapa</a>
  </div>
  
  <br>
    <table class="table ">
      <tr>
        <th>ID Contenedor</th>
        <th>Nombre</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th>Fecha Modificación</th>
        <th>Tipo</th>
        <th width="220px">Acción</th>
      </tr>
      <tr *ngFor="let contenedor of filteredContenedores">
        <td>{{ contenedor.id }}</td>
        <td>{{ contenedor.nombre_contenedor }}</td>
        <td>{{ contenedor.latitud }}</td>
        <td>{{ contenedor.longitud }}</td>
        <td>{{ contenedor.fecha_modificacion | date:'yyyy-MM-dd'}}</td>
        <td>{{ contenedor.tipo}}</td>
        <td>
          <a [routerLink]="['/kml-Contenedor','index', contenedor.idKmlContenedor, 'contenedor', 'map',contenedor.id]" class="btn btn-primary">Ver Mapa</a>
          <a href="#" [routerLink]="['/kml-Contenedor','index', contenedor.idKmlContenedor, 'contenedor', 'edit', contenedor.id ]" class="btn btn-primary">Editar</a>
          <button type="button" (click)="deleteContenedor(contenedor.id)" class="btn btn-danger">Borrar</button>
        </td>
      </tr>
    </table>
 </section>
