<div class="formulario">
    <div class="d-flex justify-content-between">
      <h2>Editar Tutoriales</h2>
      <a href="#" routerLink="/videos/index" class="btn btn-primaryt">Atrás</a>
    </div>
  
    <hr/>
    
    <form [formGroup]="form" (ngSubmit)="submit()">


        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="titulo">Titulo:</label>
              <input
                formControlName="titulo"
                [(ngModel)]="tutorial.titulo"
                id="titulo"
                type="text"
                class="form-control">
                <div *ngIf="f['titulo'].touched && f['titulo'].invalid" class="alert alert-danger">
                    <div *ngIf="f['titulo']?.errors?.['required'] ?? true">*Titulo es requerido.</div>
                    <div *ngIf="f['titulo']?.errors?.['pattern'] ?? true">*El titulo solo debe contener letras.</div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="url_contenido">URL Contenido:</label>
              <input
                formControlName="url_contenido"
                [(ngModel)]="tutorial.url_contenido"
                id="url_contenido"
                type="text"
                class="form-control">
                <div *ngIf="f['url_contenido'].touched && f['url_contenido'].invalid" class="alert alert-danger">
                    <div *ngIf="f['url_contenido']?.errors?.['required'] ?? true">*url_contenido es requerido.</div>
                </div>
            </div>
        </div>
        <br>
  <br>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid" (click)="mostrarMensaje = true">Actualizar</button>
    </form>
</div>

<app-message [message]="mensaje" *ngIf="mostrarMensaje"></app-message>
