.navbar {
    background-color:rgba(251, 192, 45);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    margin-bottom: 3%;
  }
  
  .logo img {
    height: 100px;
    width: auto;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 10px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  