<section>

    <div class="d-flex justify-content-between">
      <h1>Lista Tutoriales</h1>
    </div>
    <div class="d-flex justify-content-between">
      <a routerLink="/videos/create" class="btn btn-success">CARGAR NUEVO</a>
    </div>

    <br>
    
    <table class="table ">
      <tr>
        <th>ID Tutorial</th>
        <th>Título</th>
        <th>Url contenido</th>
        <th>Fecha Carga</th>
        <th>Fecha Modificación</th>
        <th width="220px">Acción</th>
      </tr>
      <tr *ngFor="let video of videos">
        <td>{{ video.id}}</td>
        <td>{{ video.titulo }}</td>
        <td>{{ video.url_contenido }}</td>
        <td>{{ video.fecha_carga }}</td>
        <td>{{ video.fecha_carga }}</td>
        <td>
          <a href="#" [routerLink]="['/videos/', 'edit', video.id  ]" class="btn btn-primary">Editar</a>
          <button type="button" (click)="deleteTutorial(video.id)" class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </table>
 </section>

