<section>

    <div class="d-flex justify-content-between">
      <h4>Lista videos</h4>
      <a routerLink="/videos/create" class="btn btn-success">Create New video</a>
    </div>

    <br>
    
    <table class="table ">
      <tr>
        <th>ID Tutorial</th>
        <th>Titulo</th>
        <th>url contenido</th>
        <th>ID encargado</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let video of videos">
        <td>{{ video.id}}</td>
        <td>{{ video.titulo }}</td>
        <td>{{ video.url_contenido }}</td>
        <td>{{ video.id_encargado }}</td>
        <td>
          <a href="#" [routerLink]="['/videos/', 'edit', video.id  ]" class="btn btn-primary">Edit</a>
          <button type="button" (click)="deleteTutorial(video.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
 </section>

